@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brand: #367bf5;
  --border: #c6cacc;
}
body {
  accent-color: var(--brand);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  background-blend-mode: darken;
}
::-webkit-scrollbar-thumb {
  background: var(--brand);
  background-color: var(--brand);
  border-radius: 20px;
}

.animate-text {
  animation: text 3s ease infinite alternate-reverse;
}
.custom-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
}
@keyframes text {
  0% {
    background-size: 200% 200%;
    background-position: left center;
  }
  100% {
    background-size: 200% 200%;
    background-position: right center;
  }
}
@media screen {
  .profileData {
    visibility: hidden;
  }
}

.item:hover .item_underline {
  display: inline;
}
.item_underline {
  animation: underline 1s forwards;
  transition-property: all;
}
@keyframes underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
